<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaxin.xxshop.dao.AddressDao">
	<insert id="addAddress">
		insert into shop_address
		values(#{id},#{userId},#{accept},#{zip,jdbcType=VARCHAR},#{phoneNum,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{province},#{city},#{area},#{address},#{isDefault})
	</insert>

	<select id="getAddressById" resultType="Address">
		SELECT * from shop_address
		where id=#{id}
	</select>

	<select id="getAddress" resultType="Address">
		select * from shop_address
		where userId=#{userId}
	</select>
	<!--where userId=#{0}-->

	<update id="setDefault">
		update shop_address set isDefault='1'
		where id=#{id}
	</update>
	<!--where id=#{0}-->

	<update id="setNotDefault">
		update shop_address set isDefault='2'
		where userId=#{userId} and isDefault='1'
	</update>
	<!--where userId=#{0} and isDefault='1'-->

	<delete id="deleteAddress">
		delete from shop_address where id=#{id}
	</delete>
	<!--delete from shop_address where id=#{0}-->
</mapper>