<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.huaxin.xxshop.entity" />
	</typeAliases>

	<!-- Spring中已经配置数据源和mapper接口文件扫描器
	     MyBatis的配置文件只需要根据POJO类路径进行别名配置-->

	<!--&lt;!&ndash; 制定映射器路径 &ndash;&gt;-->
	<mappers>
		<mapper resource="com/huaxin/xxshop/dao/mapper/UserMapper.xml" />
		<mapper resource="com/huaxin/xxshop/dao/mapper/AddressMapper.xml" />
		<mapper resource="com/huaxin/xxshop/dao/mapper/CategoryMapper.xml" />
		<mapper resource="com/huaxin/xxshop/dao/mapper/GoodsMapper.xml" />
		<mapper resource="com/huaxin/xxshop/dao/mapper/OrderMapper.xml" />
		<mapper resource="com/huaxin/xxshop/dao/mapper/OrderDetailMapper.xml" />
	</mappers>

</configuration>